:root {  /* ou html*/
    font-size: 10px;
    box-sizing: border-box;
}

image {
    width: 30%;
    height: 40%;
}

body {
    display: flexbox;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    padding-top: 10px;
    height: 100vh;
    width: auto;
}


main {
    padding-top: 10px;
}

.container {
    border: solid 5px red;
    padding: 1rem 1rem 2rem;
    background-color: #FAFAFA;
    line-height: 2.8rem;
}

.titulo {
    padding: 20px;
    line-height: 3em;
}
.objetivo {

}

.pessoas {
    
}

.methods {
   
}

.comofazer {

}

.beneficios {
   
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}

footer {
    padding: 10px;
    background-color: rgb(4, 4, 53);
    color: rgb(185, 185, 185);
    font-size: 1.2rem;
    bottom: 0;
}